*p {
  font-family: Lato;
  color: black;
}
.body{
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: rgb(151, 30, 30);
  background: url("https://img.freepik.com/vetores-gratis/fundo-rosa-claro-com-formas-abstratas-dinamicas_1393-230.jpg?size=626&ext=jpg") no-repeat bottom center scroll;
  background-position: 30% 45%;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

 }